<h1>Questions</h1>

<a href="/questions/new">Submit a question!</a>

<% Question.order("created_at DESC").each do |question| %>
<li><a href="/questions/<%= question.id %>"><%= question.question %></a> Created at: <%= question.created_at %> <a href="/questions/<%= question.id %>/edit">edit</a></li>
<% end %>
